name: CI

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]
  workflow_dispatch:

jobs:
  build:
    name: Build & Test (Java 21)
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'

      - name: Build & Test (all modules)
        run: mvn -q -B -DskipTests=false verify

      - name: Build shaded CLI
        run: mvn -q -B -DskipTests -pl lightkms-cli -am package

      - name: Upload CLI shaded jar
        uses: actions/upload-artifact@v4
        with:
          name: lightkms-cli-${{ github.sha }}
          path: lightkms-cli/target/*-shaded.jar
          if-no-files-found: error
